* {
    margin: 0;
    padding: 0;
}

#canvas {
    position: relative;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 5;
}
#counter {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    border: 2px solid #000;
    font-size: 20px;
}
.point {
    background-color: blue;
    position: absolute;
}

#snake div {
    position: absolute;
    background-color: #f00;
}
#snake div:first-child {
    background-color: green;
}
#snake div:last-child {
    background-color: pink;
}

.snake-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    background-color: #FFF;
    z-index: 20;
}

/* dev */
#dev_canvas {
    position: absolute;
    top: 0;
    z-index: 0;
}
.map-cell {
    position: absolute;
    display: table-cell;
    z-index: 0;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}